{% extends "saltapi/home.html" %}

{% block title %} 历史记录 {% endblock %}
{% block content %}

<h1>历史记录</h1>

<table class="table table-hover table-bordered" >
    <tr>
        <th>#</th>
        <th>主机名或地址组</th>
        <th>执行命令</th>
        <th>执行时间</th>
        <th>执行结果</th>

    </tr>
    {% for i in page_history %}
        <tr>
            <td>{{ i.index }}</td>
        <td>{{ i.hostnames }}</td>
        <td>{{ i.command_name }}</td>
        <td>{{ i.exec_time }}</td>
        <td>{{ i.command_result  }}</td>
        </tr>
    {% endfor %}


</table>
{% include 'pagination.html' with page=page_history %}

<h2 color="red">{{ error }}</h2>

{% endblock %}