{% extends "saltapi/home.html" %}

{% block title %} 获取所有客户端信息 {% endblock %}


{% block content %}

<h2>新发现服务器</h2>

<table class="server_info" border="1">
    <tr>
        <th>Salt_Name</th>
        <th>Server_Name</th>
        <th>CPU</th>
        <th>CPU内核数量</th>
        <th>操作系统</th>
        <th>IP地址</th>
        <th>内存</th>
        <th>硬盘</th>
        <th>添加时间</th>
        <th>组名</th>
    </tr>
    {%  for key,child in all_grains.items %}
        <tr>
        <td>{{ child.id }}</td>
        <td>{{ child.nodename }}</td>
        <td>{{ child.cpu_model }}</td>
        <td>{{ child.num_cpus }}</td>
        <td>{{ child.os }} {{ child.osrelease }} </td>
        <td>{{ child.ipv4 }}</td>
        <td>{{ child.mem_total }}</td>
        <td>{{ child.disk }}</td>
        <td>{{ child.add_date }}</td>
        <td>{{ child.group_id }}</td>
        </tr>
    {% endfor %}

</table>




<font color="red" > {{ refresh_error }}</font>
{% endblock %}