{% extends "saltapi/home.html" %}

{% block title %} 命令执行 {% endblock %}


{% block content %}


<h1>命令执行</h1>

<form id="loginForm" action="{% url 'saltapi:saltapicmd' %}" method="POST">
    {% csrf_token %}
    <label for="hostnames"> 服务器分组：</label>

    <select class="form-control" name="group_name">
        <option></option>
        {% for i in group_set %}
            <option> {{ i.group_name }} </option>
        {% endfor %}
    </select>
    <label for="hostnames"> 主机名：</label>
    <input type="text" class="form-control" id="hostnames" name="hostnames" placeholder="主机名"> </br>
    <label for="commands">执行  命令：</label>

    <input type="text" class="form-control" id="commands" name="commands" placeholder="运行命令"> </br>

    <button class="btn btn-success btn-block" type="submit"><b>确定执行</b></button>
    <h4 style="color: green; background-color: black;" ><b>{{ login_err }}</b></h4>
</form>

{% endblock %}