{% extends "saltapi/home.html" %}

{% block title %} 服务器分组 {% endblock %}
{% block content %}

<h1>服务器分组</h1>

<table class="table table-hover table-borderd">
    <tr>
        <th>组名</th>
        <th>分组服务器</th>
        <th>备注</th>
        <th>操作</th>

    </tr>
    {% for i in server_group_set %}
        <tr>
        <td>{{ i.group_name }}</td>
        <td>
            {% for j in i.serverinfo_set.all %}
                {{ j.server_name }}
            {% endfor %}
        </td>
        <td>{{ i.comment }}</td>
        <td>
            <a class="btn btn-success" href="servergroup_change/{{ i.id }}" >修改</a>
            <a class="btn btn-danger" href="servergroup_del/{{ i.id }}" >删除</a>
        </td>
        </tr>

    {% endfor %}


</table>
<a href="servergroup_add" >添加分组</a>

<h2 color="red">{{ error }}</h2>


{% endblock %}