{% extends "saltapi/home.html" %}

{% block title %} 服务器信息 {% endblock %}
{% block content %}

<h2 >现有服务器信息</h2>

<table class="server_info" border="1">
    <tr>
        <th>Salt_Name</th>
        <th>Server_Name</th>
        <th>CPU</th>
        <th>CPU内核数量</th>
        <th>操作系统</th>
        <th>IP地址</th>
        <th>内存</th>
        <th>硬盘</th>
        <th>添加时间</th>
        <th>组名</th>
        <th>操作</th>
    </tr>
    {% for i in server_set %}
        <tr>
        <td>{{ i.salt_name }}</td>
        <td>{{ i.server_name }}</td>
        <td>{{ i.cpu }}</td>
        <td>{{ i.cpu_core }}</td>
        <td>{{ i.system }}</td>
        <td>{{ i.ip_addr }}</td>
        <td>{{ i.ram }}</td>
        <td>{{ i.disk }}</td>
        <td>{{ i.add_date }}</td>
        <td>{{ i.group_id }}
        </td>
        <td>
            <a href="serverchange/{{ i.id }}" >编 辑</a>
            <a href="del/{{ i.id }}">删 除</a>
        </td>
        </tr>
    {% endfor %}


</table>
{% for i in server_set %}
    {{ i.id }} --- </br>
    {{ i.server_group.group_name }}
    {% for group in i.servergroup_set.all %}
        {{ group }} ----
    {% endfor %}
    {% for group in group_set %}
            {{ i.servergroup.group_name }} ....
            {{ group.id }} >>>>

            {{ group.group_name }} <<<<

    {% endfor %}
{% endfor %}

<h2>新发现服务器</h2>

<table class="server_info" border="1">
    <tr>
        <th>Salt_Name</th>
        <th>Server_Name</th>
        <th>CPU</th>
        <th>CPU内核数量</th>
        <th>操作系统</th>
        <th>IP地址</th>
        <th>内存</th>
        <th>硬盘</th>
        <th>添加时间</th>
        <th>组名</th>
        <th>操作</th>
    </tr>
    {% for i in server_new %}
        <tr>
        <td>{{ i.salt_name }}</td>
        <td>{{ i.server_name }}</td>
        <td>{{ i.cpu }}</td>
        <td>{{ i.cpu_core }}</td>
        <td>{{ i.system }}</td>
        <td>{{ i.ip_addr }}</td>
        <td>{{ i.ram }}</td>
        <td>{{ i.disk }}</td>
        <td>{{ i.add_date }}</td>
        <td>{{ i.group_id }}</td>
        <td>
            <a href="saltapi/{{ i.id }}/insert" >添加</a>
        </td>
        </tr>
    {% endfor %}


</table>



{% endblock %}