{% extends "saltapi/home.html" %}

{% block title %} 修改用户权限组 {% endblock %}
{% block content %}

<h2 >修改用户权限组</h2>

<form action="{% url 'saltapi:userpriv_change' priv.id %}" method="post">
    {% csrf_token %}
    <label>权限组名</label>
    <input type="text" name="priv_name" value="{{ priv.priv_name }}"> </br>
    <label>权限说明</label>
    <input type="text" name="comment" value=" {{ priv.comment }}"> </br>
    </br>
    <button type="submit" name="submit">添加</button>

</form>

{% endblock %}