{% extends "saltapi/home.html" %}

{% block title %} 用户管理 {% endblock %}

{% block content %}
<h1>用户管理</h1>

<br>

<table class="user_info" border="1">
    <tr>
        <th>User_Name</th>
        <th>中文名</th>
        <th>创建时间</th>
        <th>用户邮箱</th>
        <th>用户权限</th>
        <th>操作</th>

    </tr>
    {% for i in user_set %}
        <tr>
        <td>{{ i.user_name }}</td>
        <td>{{ i.user_cnname }}</td>
        <td>{{ i.add_date }}</td>
        <td>{{ i.user_email }}</td>
        <td>{{ i.user_priv_id.priv_name }}</td>
        <td>
            <a href="/saltapi/user_change/{{ i.id }}" >修改</a>
            <a href="/saltapi/user_del/{{ i.id }}" >删除</a>
        </td>
        </tr>

    {% endfor %}

</table>
<a href="/saltapi/user_add">添加用户</a>

{% endblock %}