{% extends "saltapi/home.html" %}

{% block title %} 添加用户 {% endblock %}
{% block content %}

<h2 >添加用户</h2>

<form action="{% url 'saltapi:user_add' %}" method="post">
    {% csrf_token %}
    <label>用户名</label>
    <input type="text" name="user_name" value="{{ user.user_name }}"> </br>
    <label>用户中文名称</label>
    <input type="text" name="user_cnname" value="{{ user.user_cnname}}"> </br>
    <label>用户密码</label>
    <input type="text" name="user_pass" value="{{ user.pass }}"> </br>
    <label>邮箱地址</label>
    <input type="text" name="user_email" value="{{ user.user_email }}"> </br>
    <label>用户权限组</label>
    <select name="user_priv_id">
        {% for i in userpriv %}
            <option value="{{ i.id }}"> {{ i.priv_name }}</option>
        {% endfor %}

    </select>

    </br>
    <button type="submit" name="submit">添加</button>

</form>


{% endblock %}