#header
{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;

}

#menu
{
    text-align: left;
    color: white;
    float: left;
    width: 10%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

#content
{
    color: #000;
    float: right;
    text-align: left;
    width: 80%;
    padding: 30px;
    background-color: #f1f1f1;
    margin: 20px;
    border: 1px solid;


}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color:  #f1f1f1;
    font-size: 26px;

}
li a
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;

}



.zhanshi
{
    flex-diretion: row
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

}

.zhanshineirong
{

    display: flex;
    flex-diretion: column;
    border-right: 1px solid #ebebeb;
    padding: 12px 16px;
    box-sizing: border-box;
    width: 50%

}

input.form-control
{
    width：100%；
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1
{
    margin: 8px
    padding: 8px

}